.grid {

    &__half {
        @include breakpoint(large) {
            @include span(6);
            @include push(3);
            padding: spacing(large) 0;
        }
    }

    &__item {
        width: 200px;
        display: inline-block;
        margin: 20px;
    }
}
