
.image {
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .75);
    }

    &--animate {
        animation: fadeIn 10000ms cubic-bezier(.05,.7,.26,.99);
    }

    &--loading {
        content: 'loading...';
        position: absolute;
        font-size: 4rem;
        background: black;
    }
}

.title {
    top: 10%;
    width: 100%;
    font-size: 6rem;
    font-weight: 800;
    opacity: 0;
    margin-bottom: .5rem;
    line-height: 1.25;
    margin-top: 15vh;
    position: fixed;
    animation: fadeInText 8000ms 200ms cubic-bezier(.05,.7,.26,.99) forwards;
}

@keyframes fadeIn {
    0% {
        transform: scale(1.15);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.genres {
    position: fixed;
    top: 20vh;
    width: 100%;
    opacity: 0;
    font-size: 1rem;
    color: var(--grayDark);
    animation: fadeInText 2000ms 500ms cubic-bezier(.05,.7,.26,.99) forwards;
}
