
// Labels
label {
    display: block;
    margin-bottom: 0;
}

// Inputs and textareas
input,
textarea {
    display: block;
    border: 1px solid color(gray);
    padding: .5em 1em;
    color: color(black);
    box-sizing: border-box;

    &:disabled {
        border: 1px solid color(gray);
    }
}

// Checkboxes and radiobuttons
label {
    display: inline-block;

    input {
        &:first-child {
            display: inline-block;
            margin-right: spacing(small);
        }
    }
}

// Buttons
button {
    border: 0;
    background: color(green);
    padding: spacing(small) spacing(medium);
    color: color(white);

    &:disabled {
        background: color(gray);
        color: color(gray);
    }
}

// Select fields
// See blocks/_select.scss
select {
    display: block;
}

// Fieldsets and legends
fieldset {
    margin-bottom: spacing(small);
    border: 0;
    padding: 0;

    legend {
        @extend %h4;
    }
}
