/*
Typography

Base styling for typograhpy.

Markup:
<h1>Heading</h1>
<h2>Heading</h2>
<h3>Heading</h3>
<h4>Heading</h4>
<h5>Heading</h5>
<h6>Heading</h6>
<p>The quick <strong>brown fox</strong> jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</p>
<ul>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ul>
<ol>
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
</ol>

Styleguide 2.1
*/

html {
    font-size: 100%;
}

body {
    line-height: 1.5;
    color: color(black);
    font-family: font(monospace);
    font-weight: 200;
}

// Anchor

a {
    &,
    &:active,
    &:hover {
        text-decoration: none;
        color: color(blue);
    }
}


// Headings
@include header-sizes;

h1, h2, h3, h4, h5, h6,
p, blockquote,
ul, li, ol,
a {
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    line-height: 1;
    font-family: font(monospace);
    margin-bottom: 2rem;
    letter-spacing: -.005em;
    font-weight: 200;
    color: red;
}

h2, h3, h4, h4, h5 {
    font-family: font(monospace);
    font-weight: 400;
}

// Text Block Elements
p, ul, ol, dl,
pre, blockquote, table {
    margin-top: 0;
    margin-bottom: spacing(medium);
    font-size: 1.3rem;

    &:only-child,
    &:last-child {
        margin-bottom: 0;
    }
}

// Paragraphs
p {
    font-family: font(monospace);
    font-weight: 200;
}

.large {
    margin-bottom: 1rem;
    @include breakpoint(medium) {
        font-size: 1rem;
    }
}

// Lists
ul, ol {
    padding-left: 1.4rem;
}

dt {
    font-weight: 600;
}

dd {
    margin-left: 0;
}

dd + dt,
li {
    margin-top: spacing(medium);
}

// Code

blockquote {
    margin-left: 1.4rem;
}

blockquote > footer {
    margin-top: .6rem;
    text-align: right;
}

q {
    font-style: italic;
}

.center {
    text-align: center;
}
