
.related {
    position: absolute;
    top: 40vh;

    &__title {
        margin-left: 3rem;
        font-size: 1rem;
        position: fixed;
        width: 100%;
        top: 40vh;
        color: var(--grayDark);
    }
}

.relatedArtist {
    width: 175px;
    height: 175px;
    overflow: hidden;
    float: left;
    position: relative;
    border-radius: 50%;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(35, 07, 85, .8);
        transition: background 200ms;
    }

    &:hover:before {
        background: var(--green);
    }

    &__title {
        margin-top: 0;
        font-weight: 400;
        font-size: 1rem;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        margin-top: 100px;
        color: var(--white);

    }

    @for $i from 1 to 20 {
        animation: fadeInImage 1000ms forwards;
        animation-delay: 4000ms;
        opacity: 0;
        &:nth-child($i)  {
            animation-delay: calc($i * 200)ms;
            margin-left: calc($i * 20)px;
        }
    }
}

@keyframes fadeInImage {
    from {
        transform: translateY(-100vh) scale(8);
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
