
.related {
    position: absolute;
    top: 80vh;

    &__title {
        margin-left: 3rem;
        font-size: 1rem;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 175px;
        color: var(--grayDark);
    }
}

.relatedArtist {
    width: 31vw;
    height: 200px;
    margin: 0;
    overflow: hidden;
    float: left;
    opacity: 0;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(35, 207, 95, .7);
        transition: background 200ms;
    }

    &:hover:before {
        background: rgba(0, 0, 0, .8);
    }

    &__title {
        margin-top: 0;
        font-weight: 400;
        font-size: 1rem;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        margin-top: 100px;
        color: var(--black);
    }

    @for $i from 1 to 20 {
        animation: fadeIn 1000ms forwards;
        &:nth-child($i)  {
            animation-delay: calc($i * 200)ms;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

}
