.largeInput {
    color: var(--white);
    background: none;
    border: 0;
    font-size: 5rem;
    width: 100%;
    font-family: var(--font);
    font-weight: 800;
    position: fixed;
    bottom: 50%;
    animation: fadeIn 1000ms;

    &::placeholder {
        color: var(--grayDark);
    }

    &:focus {
        color: var(--grayDark);
        outline: none;
        text-shadow: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
