/*
Colors

Markup:
<div class="sg-color">
    <div class="sg-color__swatch {{modifier_class}}-lighten3">Lighten 3</div>
    <div class="sg-color__swatch {{modifier_class}}-lighten2">Lighten 2</div>
    <div class="sg-color__swatch {{modifier_class}}-lighten1">Lighten 1</div>
    <div class="sg-color__swatch {{modifier_class}}">Default</div>
    <div class="sg-color__swatch {{modifier_class}}-darken1">Darken 1</div>
    <div class="sg-color__swatch {{modifier_class}}-darken2">Darken 2</div>
    <div class="sg-color__swatch {{modifier_class}}-darken3">Darken 3</div>
</div>

.red - Red
.green - Green
.blue - Blue
.orange - Orange 
.gray - Gray
.black - Black

Styleguide 0.1
*/
$palette: (
    colors: (
        red: #da0711,
        green: #3b9f79,
        blue: blue,
        orange: #f5a507,
        black: #1D1D1B,
        white: #fff,
        gray: #c5c5c5
    ),
    darken: (
        1: 20%,
        2: 70%,
        3: 80%
    ),
    lighten: (
        1: 20%,
        2: 40%,
        3: 60%
    )
);
/*gray: (
    base: #c5c5c5,
    light: #eee
)*/

// ------------------------------------
// Spacing
// ------------------------------------

$spacings: (
    small: .5rem,
    medium: 1rem,
    large: 2rem
);

// ------------------------------------
// Breakpoints
// ------------------------------------

$breakpoints: (
    small: 480,
    medium: 720,
    large: 960,
    wide: 1200,
);

// ------------------------------------
// Typography
// ------------------------------------

$fonts: (
    serif: ('Merriweather', 'Georgia', serif),
    monospace: ('Source Code Pro', 'Monaco', monospace)
);

$header-sizes: (
    base: (
        'h1': 40,
        'h2': 22,
        'h3': 20,
        'h4': 20,
        'h5': 20,
        'h6': 20,
    ),
    medium: (
        'h1': 68,
        'h2': 30,
        'h3': 24,
        'h4': 24,
        'h5': 24,
        'h6': 24,
        'p': 18,
        'table': 18,
        'label': 18
    ),
) !default;

// ------------------------------------
// Susy grid
// ------------------------------------

$susy: (
    columns: 12,
    container: 1200px,
    gutters: .8,
    global-box-sizing: border-box
);
